<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ikolilu.ikolilu.portal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ikolilu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ikolilu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegVerify"></activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/App.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/App.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/App.NoActionBar" />
        <activity
            android:name=".WardSetupActivity"
            android:theme="@style/App.NoActionBar" />
        <activity android:name=".DashboardActivity" />
        <activity
            android:name=".ui.GetStartedActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".ui.SettingsActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".ui.LogoutActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".ui.DashMenuActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".ui.dashboardFragments.actions.AddWard"
            android:parentActivityName=".ui.DashMenuActivity" />
        <activity
            android:name=".ui.dashboardFragments.ProgramFilter"
            android:parentActivityName=".ui.DashMenuActivity" />
        <activity
            android:name=".ui.wardService.PreschoolReport"
            android:parentActivityName=".ui.DashMenuActivity" />
        <activity
            android:name=".ui.wardService.WardInfoActivity"
            android:parentActivityName=".ui.DashMenuActivity" />
        <activity
            android:name=".ui.dashboardFragments.actions.OpenNoticeboardActivity"
            android:parentActivityName=".ui.wardService.WardInfoActivity" />
        <activity
            android:name=".ui.dashboardFragments.actions.OpenAssignmentboardActivity"
            android:parentActivityName=".ui.wardService.WardInfoActivity" />
        <activity
            android:name=".ui.dashboardFragments.actions.OpenReceiptboardActivity"
            android:parentActivityName=".ui.wardService.WardInfoActivity" />
        <activity
            android:name=".ui.wardService.wardOptions.exploreEngine.ExploreAcademicActivity"
            android:parentActivityName=".ui.wardService.WardInfoActivity" />
        <activity
            android:name=".ui.wardService.wardOptions.exploreEngine.ExploreBillingPaymentActivity"
            android:parentActivityName=".ui.wardService.WardInfoActivity" />
        <activity
            android:name=".ui.wardService.wardOptionInfo.AcademicInfoOptionActivity"
            android:parentActivityName=".ui.wardService.WardInfoActivity" />
        <activity
            android:name=".ui.wardService.wardOptionInfo.BillingPaymentsActivity"
            android:parentActivityName=".ui.wardService.WardInfoActivity" />
        <activity
            android:name=".ui.wardService.wardOptionInfo.WardSchoolActivity"
            android:parentActivityName=".ui.wardService.WardInfoActivity" />
        <activity android:name=".RegSuccessActivity" />
        <activity android:name=".ui.dashboardFragments.actions.WardSuccessActivity" />
        <activity android:name=".VerifyActivity" />
        <activity
            android:name=".ui.wardService.wardOptionInfo.PaymentActivity"
            android:parentActivityName=".ui.wardService.wardOptions.exploreEngine.ExploreBillingPaymentActivity" />
        <activity
            android:name=".ui.wardService.wardOptionInfo.WardActivity.WardDailyxActivity"
            android:parentActivityName=".ui.wardService.WardInfoActivity" />
        <activity android:name=".ui.ResetPasswordActivity" />
        <activity
            android:name=".ResetPasswordSecond"
            android:parentActivityName=".ui.ResetPasswordActivity" />
        <activity android:name=".ui.ResetPasswordActivity2" />
        <activity android:name=".ui.ResetPasswordSecond2" />
    </application>

</manifest>