<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ikolilu.ikolilu.portal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.ikolilu.ikolilu.portal.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ikolilu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ikolilu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ikolilu.ikolilu.portal.MainActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.WelcomeActivity"
            android:theme="@style/App.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ikolilu.ikolilu.portal.LoginActivity"
            android:theme="@style/App.NoActionBar" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.RegisterActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.LoginActivity"
            android:theme="@style/App.NoActionBar" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.WardSetupActivity"
            android:theme="@style/App.NoActionBar" />
        <activity android:name="com.ikolilu.ikolilu.portal.DashboardActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.GetStartedActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.DashboardActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.SettingsActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.DashboardActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.LogoutActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.DashboardActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.DashMenuActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.DashboardActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.dashboardFragments.actions.AddWard"
            android:parentActivityName="com.ikolilu.ikolilu.portal.ui.DashMenuActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.wardService.WardInfoActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.ui.DashMenuActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.dashboardFragments.actions.OpenNoticeboardActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.ui.wardService.WardInfoActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.dashboardFragments.actions.OpenAssignmentboardActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.ui.wardService.WardInfoActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.dashboardFragments.actions.OpenReceiptboardActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.ui.wardService.WardInfoActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.wardService.wardOptions.exploreEngine.ExploreAcademicActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.ui.wardService.WardInfoActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.wardService.wardOptions.exploreEngine.ExploreBillingPaymentActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.ui.wardService.WardInfoActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.wardService.wardOptionInfo.AcademicInfoOptionActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.ui.wardService.WardInfoActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.wardService.wardOptionInfo.BillingPaymentsActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.ui.wardService.WardInfoActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.wardService.wardOptionInfo.WardSchoolActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.ui.wardService.WardInfoActivity" />
        <activity android:name="com.ikolilu.ikolilu.portal.RegSuccessActivity" />
        <activity android:name="com.ikolilu.ikolilu.portal.ui.dashboardFragments.actions.WardSuccessActivity" />
        <activity android:name="com.ikolilu.ikolilu.portal.VerifyActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.wardService.wardOptionInfo.PaymentActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.ui.wardService.wardOptions.exploreEngine.ExploreBillingPaymentActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ui.wardService.wardOptionInfo.WardActivity.WardDailyxActivity"
            android:parentActivityName="com.ikolilu.ikolilu.portal.ui.wardService.WardInfoActivity" />
        <activity android:name="com.ikolilu.ikolilu.portal.ui.ResetPasswordActivity" />
        <activity
            android:name="com.ikolilu.ikolilu.portal.ResetPasswordSecond"
            android:parentActivityName="com.ikolilu.ikolilu.portal.ui.ResetPasswordActivity" />
        <activity android:name="com.ikolilu.ikolilu.portal.ui.ResetPasswordActivity2" />
        <activity android:name="com.ikolilu.ikolilu.portal.ui.ResetPasswordSecond2"></activity>
    </application>

</manifest>